.module {
  background: white;
  padding: 0 0 10px 0;
  box-shadow: 0 0 5px rgba(black, 0.2);
  margin: 0 0 $padding 0;
  position: relative;
  img {
    width:100%;
    height: auto !important;
  }
}
.module-article {
  h1 {
    font-weight: 600;
  }
  p, h2 {
    margin: 10px 0 0 10px;
    text-align: left;
  }
  time {
    padding: 2px 10px 2px 10px;
    background: $darkBlue;
    height: 40px;
    line-height: 2;
  }
}

.article-link {
    margin: 2px 10px 2px 10px;
    color: $linkBlue;
    &:hover, &:focus {
      color: $darkBlue;
    }
}

.module-archives {
  height: 200px;
  padding: 10px 10px 10px 0;
  h2 {
    padding: 0 0 20px 10px;
    color: black;
  }
  a {
    padding: 2px 10px 2px 10px;
    margin: 6px 0 6px 0;
    background: $darkBlue;
    position: relative;
    display: block;
    text-align: left;
    font-size: 14px;
    line-height: 1;
    color: $linkBlue;
    &:hover, &:focus {
      color: white;
    }
  }
}

.module-weather {
  padding: 10px 10px 0 10px;
  h2 {
    color: black;
  }
}