$linkColor: rgb(113, 166, 188);

$padding: 1.0em;

$orange: #e18728;
$gray: #444444;
$lightGray: #d6d5d5;
$midGray: #afafaf;
$darkGray: #1d1f21;
$blue: #859ce6;
$red: #FF4E4E;
$darkRed: #D70D00;
$darkBlue: #4a6f8f;
$cp-blue: #00B0F7;


//prism colors
//#1d1f21 Background
//#282a2e Current Line
//#373b41 Selection
//#c5c8c6 Foreground
//#969896 Comment
$p-red: #cc6666; 
$p-orange:#FD971F; 
$p-yellow: #f0c674;
$p-green: #b5bd68;
$p-aqua: #8abeb7;
$p-blue: #81a2be;
$p-purple: #b294bb;

$offset: 6px;
$padding: 20px;

@mixin preventFOUT {
  .wf-loading & {
    visibility: hidden;
  }
}

@mixin breakpoint($point) {
  @if $point == xl {
    @media (min-width: 1250px) { @content; }
  }
  @if $point == large {
    @media (min-width: 800px) { @content; }
  }
  @if $point == small {
    @media (max-width: 600px) { @content; }
  }
}